$botton-background: #46a9dd;

.new-message-container {
  background-color: #efefef;
}

.actions {
  display: flex;
  justify-content: flex-end;

  input {
    background-color: #46a9dd;
    color: white;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
  }
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .icon {
    position: absolute;
    left: 8px;

    svg {
      width: 16px;
      height: 16px;
      color: #d9d9d9;
    }
  }

  input {
    padding-left: 32px;
  }
}